<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Conor Haining</title>
	<link rel="stylesheet" type="text/css" href="/assets/main.css" />
</head>

<body class="diary">
	{% include 'header.njk' %}

	<main class="list-disc py-4 px-6 md:px-12 ld:px-32 xl:px-48">
		<h1 class="text-5xl">{{ title }}</h1>
		
		<article>
			{{ content | safe }}
		</article>

	</main>

	
</body>

</html>