<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Conor Haining</title>
	<link rel="stylesheet" type="text/css" href="/assets/main.css" />
</head>

<body class="diary">
	{% include 'header.njk' %}

	<main class="list-disc py-4 px-6 md:px-12 ld:px-32 xl:px-48">
		<h1 class="text-5xl font-semibold mb-4">Code Diary</h1>
		
			<p class="text-xl mb-4">A code diary is just my place to document and organise the various titbits of information I'm slowly startings to accumulate. I've made it public for easy access for myself, and anybody it may be helpful for.</p>
		<p></p>

		{% set navPages = collections.all | eleventyNavigation %}
		<ul class="text-lg">
		{%- for entry in navPages %}
		<li>
			{{ entry.title }}
		</li>

			{% if entry.children %}
				<ul>
				{%- for entry in entry.children %}
					<li>
						<a href="{{ entry.url | url }}" class="text-blue-700 underline">{{ entry.title }}</a>
					</li>
				{%- endfor %}
				</ul>
			{% endif %}
		{%- endfor %}
		</ul>
	</main>

	<script src="/assets/main.js"></script>
</body>

</html>