<header>
    <div class="content flex justify-between items-center w-full">
        <div class="py-2 md:px-12 ld:px-32 xl:px-48">
            <a href="/"><h1 class="text-3xl font-extrabold">Conor Haining</h1></a>
        </div>
        {% include 'nav.njk' %}
    </div>
</header>