<!doctype html>
<html lang="en">
<head>
	<title>Conor Haining</title>
	{% include 'head.njk' %}
</head>

<body class="bg-gray-50">
	{% include 'header-tall.njk' %}

	<main class="mx-auto px-4 max-w-prose">
		{% for post in collections.posts | reverse %}
		<article class="my-2">
			<h2 class="text-xl font-bold hover:underline hover:text-gray-700"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
			<time datetime="{{ post.date }}"><em class="text-red-400 leading-loose">{{ post.date | displayDate }}</em></time>
		</article>
		{% endfor %}
	</main>

	<script src="/assets/main.js"></script>
</body>

</html>