<nav class="mx-4 float-right">
    <ul>
        <li class="py-2 px-3 md:px-6 cursor-pointer text-center bg-green-800/75 inline-block font-bold rounded"><a
                href="/">Home</a></li>
    </ul>
</nav>