<!doctype html>
<html lang="en">
<head>
	
	<title>{{ title }} | Conor Haining</title>

	{% include 'head.njk' %}
</head>

<body class="post">
	{% include 'header.njk' %}

	<main class="py-4 px-6 flex flex-col items-center w-100">
		<article class="border-b pb-8 mt-8 text-xl prose max-w-prose leading-loose">
			<div class="mb-3">
				<h1 class="text-3xl mt-2 font-semibold">{{ title }}</h1>
				<time datetime="{{ page.date }}"><em class="text-red-400 leading-loose">{{ page.date | displayDate }}</em></time>
			</div>
            {{ content | safe }}
		</article>
	</main>

	<script src="/assets/main.js"></script>
</body>

</html>