<!doctype html>
<html lang="en">
<head>
	{% include 'head.njk' %}
	<link rel="expect" blocking="render" href="#post">
</head>

<body class="post bg-gray-50 dark:bg-gray-800">
	{% include 'header.njk' %}

	<main class="py-4 px-6 flex flex-col items-center w-full">
		<article class="border-b pb-8 mt-8 text-l prose dark:prose-invert max-w-prose leading-loose dark:text-white" id="post>
			<div class="mb-3">
				<h1 class="text-3xl mt-2 font-semibold dark:text-white">{{ title }}</h1>
				<time datetime="{{ page.date }}"><em class="text-red-600 dark:text-red-400 leading-loose">{{ page.date | displayDate }}</em></time>
				{# <span class="text-sm text-green-800 font-semibold bg-green-300 py-0.5 px-1 rounded">Around {{ content | readingTime }} reading time</span> #}
			</div>
            {{ content | safe }}
		</article>
	</main>

	
</body>

</html>